<?xml version="1.0" encoding="utf-8" ?>

<ProxyConfig mustMatch="true"  allowedReferers="*">
  <serverUrls>
    <serverUrl url="http://route.arcgis.com/arcgis/rest"
            username="JohnDoe"
            password="abc123"
            matchAll="true">
      </serverUrl>	  
  </serverUrls>
</ProxyConfig>