<ProxyConfig 
    mustMatch="true"
    logFile="proxy_log_xml.log"
    allowedReferers="http://server.com/application1,https://server.com/application2,*">

  <serverUrls>

      <serverUrl 
        url="http://sampleserver6.arcgisonline.com" 
        username="username" 
        password="password" 
        rateLimit="10" 
        rateLimitPeriod="1" 
        matchAll="true"/>

      <serverUrl 
        url="geoenrich.arcgis.com"
        username="username"
        password="password"
        rateLimit="10"
        rateLimitPeriod="1"
        matchAll="true"/>

      <serverUrl 
        url="http://route.arcgis.com/"
        matchAll="true"
        oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
        clientId="6Xo1x5L1tz7k9Kn2dc"
        clientSecret="5dca5d50d0e6fe422c867b6efcf969b6a2"
        rateLimit="10"
        rateLimitPeriod="1">
      </serverUrl>

      <serverUrl 
        url="http://services.arcgisonline.com/ArcGIS/rest/services/"  
        rateLimit="10" 
        rateLimitPeriod="1" 
        matchAll="false"/>

  </serverUrls>

</ProxyConfig>