<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.        
        mustMatch="true" - to only proxy to sites listed, false to proxy to any site.
        logFile="<file with local path>" - if specified, events will be written to the log file.
		logLevel="<LOGLEVEL>" - determines which log messages are recorded (ERROR,WARNING,INFO,etc)
		allowedReferers="<url1>,<url2>,..." - When specified filters all incoming requests by referer header.
-->
<ProxyConfig mustMatch="true" 
				logFile="C:\Temp\Shared\proxy_logs\auth_proxy.log"
				logLevel="INFO"
				allowedReferers="http://server.com/application1,https://server.com/application2">
  <serverUrls>
    <!-- serverUrl options:
            url="<location>" of the ArcGIS Server, either specific URL or stem.

            matchAll="true" - to forward any request beginning with the url.
            
            username="<...>" password="<...>" - token will be requested as needed by the proxy automatically.
            
            oauth2Endpoint="<...>" - Portal-specific OAuth 2.0 authentication endpoint. Default "https://www.arcgis.com/sharing/oauth2/".
            clientId="<...>" clientSecret="<...>" - portal access token and then server-specific token will be obtained as needed by the proxy automatically and attached to all the matching requests.
            Optionally: client apps can pass clientId parameter which will be used by the proxy to distinguish between entries with same url values but different client ids stored in configuration.
            rateLimit="<number>" - max number of requests with particular client IP over the rateLimitPeriod.
            rateLimitPeriod="<# of minutes>" - period within which # of requests sent with particular client IP will be tracked. 60 is default.            
-->
	<serverUrl url="http://geocode.arcgis.com" 
				rateLimit="5"
				rateLimitPeriod="1"/>

	<serverUrl url="http://services.arcgisonline.com" />
	<serverUrl url="http://server.arcgisonline.com" />
	<serverUrl url="//static.arcgis.com" />
	<serverUrl url="//www.arcgis.com"
		oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
		clientId="XXXXXXXX"
		clientSecret="XXXXXXXX" />
	
   <!-- Examples
    <serverUrl url="http://route.arcgis.com/arcgis/rest"
            username="JohnDoe"
            password="abc123"
            matchAll="true">
      </serverUrl> 
      <serverUrl url="https://myserver/myapp/index.html"
           matchAll="true"
           oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
           clientId="XXXXXXXX"
           clientSecret="XXXXXXXX"
           rateLimit="50"
           rateLimitPeriod="10">
      </serverUrl> -->
  </serverUrls>
  
</ProxyConfig>